<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833241507507-2crlj4u3o53cnu6tmamh1nfaac2j9lj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833241507507-2crlj4u3o53cnu6tmamh1nfaac2j9lj8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2SPVeQ_Swq8FoX5pLvXm-JuXZ_GX4-no</string>
	<key>GCM_SENDER_ID</key>
	<string>833241507507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebasemsflutter.firebasemsflutter</string>
	<key>PROJECT_ID</key>
	<string>fluttermsflash</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermsflash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833241507507:ios:34738ace45df9984b0f2c6</string>
</dict>
</plist>